##### Initial reqs
# fastavro
# fastapi
# pandas
# numpy
# SQLAlchemy
# PyMySQL
# cryptography
# plotly

##### Reqs from pip freeze
annotated-types==0.6.0
anyio==3.7.1
cffi==1.16.0
click==8.1.7
cryptography==41.0.7
fastapi==0.105.0
fastavro==1.9.1
greenlet==3.0.2
h11==0.14.0
httptools==0.6.1
idna==3.6
numpy==1.26.2
packaging==23.2
pandas==2.1.4
plotly==5.18.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.27.0
tenacity==8.2.3
typing_extensions==4.9.0
tzdata==2023.3
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0